.footer {
  background: var(--accent-color);
  color: var(--btn-text-color);
  padding: 50px;
}

.footer-heading {
  margin-bottom: 20px;
}

.facebook-icon {
  width: 45px;
}

.footer-content {
  max-width: 250px;
  margin-bottom: 20px;
}

.icons {
  max-width: 175px;
  align-items: center;
}

@media screen and (max-width:992px) {
  .footer {
    padding: 30px;
  }
  .footer-content {
    margin: 20px auto;
  }
  .icons {
    margin: 0 auto;
  }
}