.microsoft {
  padding: 50px 0;
}

.microsoft-center {
  padding: 20px;
  max-width: 255px; /*добавил все же ширину чтоб на маленьких экранах не раздувало*/
}

@media screen and (max-width:992px) {
  .microsoft-center {
    margin: 0 auto;
  }
}