.my-skills {
  background: var(--light-gray-bg-color);
  padding: 20px;
}



/* в итоге дал одинаковые св-ва т.к. картинка при уменьшении становилась меньше блока "Мои навыки" */
.skills-article,
.face-img-wrapper {
  padding: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.my-skills-margins {
  margin-bottom: 50px;
}

.loading-bg {
  background: var(--progress-bg-color);
  height: 4px;
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
}

.loading-bg::after {
  display: block;
  content: "";
  background: var(--accent-color);
  height: 4px;
  right: 30%;
  left: 0;
  position: absolute;
}

@media screen and (max-width: 992px) {
  .face-img-wrapper {
    margin: 0 auto;
  }
  .my-skills {
    text-align: center;
  }
  .my-skills-margins {
    margin: 20px;
  }
}
