.propose-section-style {
  text-align: center;
  background: var(--light-gray-bg-color);
  padding: 50px;
}

.propose-form-style {
  margin-top: 50px;
}

.input-style {
  padding: 20px;
  margin-bottom: 30px;
  width: 100%;
  min-height: 50px;
}

.textarea-style {
  font-family: inherit;
  resize: none;
  padding: 20px;
  margin-bottom: 50px;
  width: 100%;
  min-height: 175px;
}

.send-btn {
  width: 190px;
}

@media screen and (max-width: 576px) {
  .heading-margin {
    margin-top: 0;
  }
}
